<div class="menu-bar__container">
	<div class="menu-bar__logo">
		<img src="assets/ps-logo.png" alt="PSS Logo" width="140px" height="32px">
	</div>
	<div class="menu-bar__item">
		<ul>
			<li><a href=""><img src="assets/icons8-youtube-48.png" alt=""></a></li>
			<li><a href="https://www.linkedin.com/in/devjoaovictordourado/" target="_blank"><img src="assets/icons8-linkedin-48.png" alt=""></a></li>
			<li><a href="https://github.com/JVDourado10" target="_blank"><img src="assets/icons8-github-50.png" alt=""></a></li>
		</ul>
	</div>
</div>
